*{
	box-sizing: border-box;
}

body{
	margin:0;
	padding:0;
	font-family: 'Raleway', sans-serif;
	 background-color:#1d1d1e;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}
html,body{
	height:100%;
}
.wrapper{
	background-color:#1d1d1e;
	color:white;
	height:100%;
	

	
}
.header{
	display:flex;
	justify-content: center;
	text-align:center;
	width:100%;
}
.header_heading{
	font-size: 5em;
	font-weight:200;
	margin-bottom:0.2em;

}
.header_text{
	font-size:1.5em;
	margin-top:5px;
}
.nav_menu{
	flex-wrap:wrap;
	display:flex;
	justify-content: center;
	align-items:center;
	padding:0;
	position: relative;
	max-width:50em;
	margin:0 auto;

}
.nav_menu::after{
	content:"";
	height:1px;
	width:100%;
	background:-webkit-linear-gradient(left, transparent 0%,#ffffff 50%,transparent 100%);
	position:absolute;
	bottom:-1em;
	left:0;
	
}
.nav_menu_button{
border-radius:50%;
margin:0.1em;
background-color: transparent;
color:white;
border:1px solid white;
font-size:3em;
padding:0.3em;
opacity:0.3;
transition: all 0.3s ease-in-out;
outline:none;
cursor:pointer;
}
.nav_menu_button:hover, .nav_menu_button:focus{
	opacity:1;
	transition: all 0.3s ease-in-out;
	outline:none;
}
.nav_menu_button:active{
	outline:none;
}
.section_homepage{

	justify-content: center;
	max-width: 960px;
	margin:0 auto;
	display:flex;
	text-align:center;
	font-size:1.3em;
	font-weight:200;
	letter-spacing: 0.5px;
	position: relative;
	flex-wrap:wrap;

	

}
.footer{
	
	color:white;
	text-align: center;
	padding:0.5em;
	position:fixed;
	bottom:0;
	width:100%;

}
.section_heading{
	margin-top:0.8em;
	font-size:2em;
	font-weight:200;
}
.active{
	transition:all 0.5s ease-in-out;
	
}
.hidden{
	transform: translateX(-200%);
	transition:all 0.5s ease-in-out;
	position:absolute;
	top:-9999px;
}
.active_button{
	opacity:1;
}
.section_about{
	justify-content: center;
	max-width: 960px;
	margin:0 auto;
	display:flex;
	text-align:center;
	font-size:1.3em;
	font-weight:200;
	letter-spacing: 0.5px;
	flex-wrap:wrap;
	
}
.section_about_heading,.section_portfolio_heading{
	font-weight: 200;
	font-size:1.8em;
}
.section_about_text_image{
	width:100%;


}
.section_portfolio{
	width:100%;
}
.section_about_skillset{
	display:flex;
	justify-content: center;
	align-items: center;
	width:100%;
	flex-wrap:wrap;
	overflow: auto;
}
.section_about_item,.section_about_content_item{
	font-size:5em;
	margin:0.2em;
	text-align:center;
	transition:color 0.3s ease-in-out;
}
.section_about_item:hover,.section_about_content_item:hover{
	color:#841b1b;
	cursor:pointer;
	transition:color 0.3s ease-in-out;
}

.section_about_text{
	margin-bottom: 0.3em;
	width:100%;
	font-size:1.5em;
}

.section_about_content_link:link,.section_about_content_link:active,.section_about_content_link:visited{
text-decoration: none;
color:white;

}
.section_portfolio{
	justify-content: center;
	max-width: 960px;
	margin:0 auto;
	display:grid;
	text-align:center;
	font-size:1.3em;
	font-weight:200;
	letter-spacing: 0.5px;
	
}
.section_portfolio_collection{
	display:flex;
	max-width: 960px;
	flex-wrap:wrap;
	justify-content: center;
}
.section_portfolio_item{
	margin:1em;
	height:15em;
	width:15em;
	border:1px solid white;
	position:relative;
}
.section_portfolio_item_link{
text-decoration: none;
}
.section_portfolio_item_link:active,.section_portfolio_item_link:link,.section_portfolio_item_link:visited{
	text-decoration: none;
	color:black;
}
.section_portfolio_item:hover  .section_portfolio_item_repository{
	opacity:0.9;
	
}


.section_portfolio_item:hover  .section_portfolio_item_live{
	opacity:0.9;
	

}
.section_portfolio_item:focus  .section_portfolio_item_repository{   /* :( */
	opacity:0.9;
	
}
.section_portfolio_item:focus  .section_portfolio_item_live{
	opacity:0.9;
	
}



.section_portfolio_item_repository{
	position:absolute;
	top:0;
	left:0;
	width:50%;
	height:100%;
	display:block;
	opacity:0;
	background:#1d1d1e;
	color:white;
	transition: all 0.3s ease-in-out;
}
.section_portfolio_item_live{
position:absolute;
	top:0;
	right:0;
	width:50%;
	height:100%;
	display:block;
	opacity:0;
	color:white;
	background:#841b1b;
	transition: all 0.3s ease-in-out;
}
.section_portfolio_item_icon::before{

	margin-top:65%;
	display:block;
	font-size:5em;

}
.calculator{
	background-image: url('../img/kalkulator.png');
	background-size:cover;
	background-position: center;
}
.section_contact{
	display:flex;
	justify-content: center;
	align-items: center;
	flex-wrap:wrap;
	text-align:center;
	font-size:1.5em;
}
.section_contact_link:active,.section_contact_link:visited,.section_contact_link:link{
	text-decoration: none;
	color:white;
}
.section_contact_heading{
	width:100%;
	display:block;
}
@media (max-width: 480px){
.header_text{
	display:none;
}
.nav_menu_button{
font-size:2.5em;
}

}
@media(max-width:360px){
	.nav_menu_button{
		font-size:2em;
	}
}
@media (min-width: 768px) and (max-width: 979px) {


}
@media(max-width:1024px){
	.footer{
	position:relative;

}
}